body{
    background-color: black;
}
.bulb{
    display:flex;
    justify-content: center;
    align-items: center;
   
}
#blb{
    height: 65vh;
    /* width: 40vw; */
}
.click{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    margin-top: 10px;
}
button{
    height: 5vh;
    width: 100px;
}
